<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Home</title>
</head>
<body>
    <h1>Upload Task Descriptions or topics<h1>
    <form action = "/upload" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "files", multiple = "true" />
         <br><br>
         <input type = "submit" value = "Upload"/>
         <input type = "reset"/>
      </form>
      <br><br> 
</body>
</html>